<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置目标类==============-->
    <bean id="studentDao" class="com.whr.aop.demo5.StudentDaoImp"/>
    <bean id="customerDao" class="com.whr.aop.demo5.CustomerDao"/>

    <!--配置通知类型============-->
    <bean id="myAroundAdvice" class="com.whr.aop.demo5.MyAroundAdvice"/>
    <bean id="myBeforeAdvice" class="com.whr.aop.demo5.MyBeforeAdvice"/>

    <!--配置自动代理=============-->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="*studentDao"/>
        <property name="interceptorNames" value="myBeforeAdvice"/>
    </bean>
</beans>